[Unit]
Description=ZenithBoard domain name update, 30 seconds after start-up and then every 5 minutes

[Timer]
OnActiveSec=30s
OnUnitInactiveSec=5min

[Install]
WantedBy=timers.target
